.txt-center {
    text-align: center;
  }
  .hide1 {
    /*display: none;*/
    position: absolute;
    opacity: 0;
    width: 0;
    pointer-events: none;
  }
  
  .clear {
    float: none;
    clear: both;
  }
  
  .rating {
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }
  
  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
      font-size: 2em;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\f005";
      position: absolute;
      left: 0;
      color: #FFD700;
  }