{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
              <li class="active">Blog with right sidebar</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span8">
            <!-- start article 1 -->
            {% for obj in object_list %}
            <article class="blog-post">
              <div class="post-heading">
                <h3><a href="{% url 'main:blog' slug=obj.slug %}">{{obj.titulo}}</a></h3>
              </div>
              <div class="row">
                <div class="span8">
                  {% if obj.imagen %}
                  <div class="post-image">
                    <a href="{% url 'main:blog' slug=obj.slug %}"><img src="{{obj.imagen.url}}" alt="" /></a>
                  </div>
                  {% endif %}
                  <ul class="post-meta">
                    <li class="first"><i class="icon-calendar"></i><span>{{obj.fecha}}</span></li>
                    <li><i class="icon-comments"></i><span><a href="#">4 comments</a></span></li>
                    <li class="last"><i class="icon-tags"></i><span>
                      {% for etiqueta in obj.etiquetas.all %}
                        <a href="#">{{etiqueta}}</a>{% if not forloop.last%}, {% endif %}
                      {% endfor %}
                      </span>
                    </li>
                  </ul>
                  <div class="clearfix">
                  </div>
                  <p>
                    {{obj.descripcion}}
                  </p>
                  <a href="{% url 'main:blog' slug=obj.slug %}" class="btn btn-small btn-theme">Leer más</a>
                </div>
              </div>
            </article>
            {% endfor %}
            <!-- end article 1 -->
            {% include 'main/partials/page-number.html' %}
          </div>
          <div class="span4">
            <aside>
              <div class="widget">
                <a href="#" class="btn btn-theme" style="width: 90%;"><i class="icon-plus"></i>Nuevo blog</a>
              </div>
              {% include 'main/partials/recent-blogs.html' %}
              <div class="widget">
                <h4 class="rheading">Etiquetas populares<span></span></h4>
                <ul class="tags">
                  <li><a href="#" class="btn">Tutorial</a></li>
                  <li><a href="#" class="btn">Tricks</a></li>
                  <li><a href="#" class="btn">Design</a></li>
                  <li><a href="#" class="btn">Trends</a></li>
                  <li><a href="#" class="btn">Online</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
