{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="{% static 'img/onepiece.png' %}">
                  <img src="{% static 'img/onepiece.png' %}" alt="" />
                  <div class="flex-caption primary">
                    <h2>One Piece</h2>
                    <p style="font-weight: 600; font-size: 1.2em;">El libro más largo del mundo, con 21 450 páginas!!!</p>
                  </div>
                </li>
                <li data-thumb="{% static 'img/dbz.png' %}">
                  <img src="{% static 'img/dbz.png' %}" alt="" />
                  <div class="flex-caption warning">
                    <h2>Black Freezer</h2>
                    <p style="font-weight: 600; font-size: 1.2em;">Más fuerte que nunca</p>
                  </div>
                </li>
                <li data-thumb="{% static 'img/boruto.png' %}">
                  <img src="{% static 'img/boruto.png' %}" alt="" />
                  <div class="flex-caption success">
                    <h2>Boruto - capítulo 266</h2>
                    <p style="font-weight: 600; font-size: 1.2em;">Giro inesperado?...</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4 class="rheading">Entradas recientes<span></span></h4>
            <div class="row">
              <div class="span3">

                <p class="hidden-phone">
                  Mantente al tanto de todas las noticias sobre tus mangas y animes favoritos en nuestro blog
                </p>

                <a href="{% url 'main:blogs'%}" class="btn btn-theme">Leer más</a>
              </div>

              <div class="span9">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">
                      {% for b in blogs %}
                      <li onclick="location.href='{% url 'main:blog' slug=b.slug %}';">
                        <a href="{% url 'main:blog' slug=b.slug %}">
                          <div class="box">
                            {%if b.imagen %}
                            <div class="imagewrap">
                              <img src="{{b.imagen.url}}" alt="" />
                            </div>
                            {% endif %}
                            <div class="divcenter">
                              <h5>{{b.titulo}}</h5>
                            </div>
                            <div class="box-bottom"></div>
                          </div>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <h4 class="rheading">Últimas reseñas<span></span></h4>
            <div class="row">
              {% for r in reviews %}
              <div class="box span3" style="padding: 20px; width: 26%; margin-bottom: 20px;">
                <div class="testimonial">
                  <blockquote>
                    <p style="font-size: 1.15em;"><i class="icon-quote-left"></i>{{r.mensaje}}</p>
                  </blockquote>
                  <img src="{% static 'img/dummies/author-40.png' %}" class="img-circle left" alt="" />
                  <span class="author">{{r.usuario}}</span><br />en
                  {% if r.manga %}
                  <a href="{% url 'main:manga' slug=r.manga.slug %}">{{r.manga}}</a>
                  {% else %}
                  <a href="{% url 'main:anime' slug=r.anime.slug %}">{{r.anime}}</a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </section>
{% endblock %}